In [1]:
import numpy as np
from seldon_core.seldon_client import SeldonClient
import pandas as pd

df = pd.read_csv("../data/train.csv")

sc = SeldonClient(
    gateway="istio",
    transport="rest",
    gateway_endpoint="localhost:8081",  
    namespace="default",
)

for i in range (0,7):

    client_prediction = sc.predict(
        data=np.array([df.iloc[i]["Pclass"],df.iloc[i]["Sex"],df.iloc[i]["Age"],df.iloc[i]["SibSp"],df.iloc[i]["Parch"],df.iloc[i]["Fare"],df.iloc[i]["Embarked"]]),
        deployment_name="titanic-classifier",
        names=['pclass', 'sex', 'age', 'sibSp', 'parch', 'fare', 'embarked'],
        payload_type="ndarray",
    )
    prediction = (client_prediction)
    print(client_prediction.response)
    print("")
    print("#####################")
    print('')
    if prediction.response["data"]["ndarray"][0] == 1:
        print(df.iloc[i]["Name"], " died")
        print('')

    else:
        print(df.iloc[i]["Name"]," survived")
        print("")
        print(" ")

{'data': {'names': [], 'ndarray': [0.0]}, 'meta': {'metrics': [{'key': 'died_counter', 'type': 'COUNTER', 'value': 1}], 'requestPath': {'classifier': 'seldonio/titanic:1.8.3'}}}

#####################

Braund, Mr. Owen Harris  survived


{'data': {'names': [], 'ndarray': [1.0]}, 'meta': {'metrics': [{'key': 'survived_counter', 'type': 'COUNTER', 'value': 1}], 'requestPath': {'classifier': 'seldonio/titanic:1.8.3'}}}

#####################

Cumings, Mrs. John Bradley (Florence Briggs Thayer)  died

{'data': {'names': [], 'ndarray': [1.0]}, 'meta': {'metrics': [{'key': 'survived_counter', 'type': 'COUNTER', 'value': 1}], 'requestPath': {'classifier': 'seldonio/titanic:1.8.3'}}}

#####################

Heikkinen, Miss. Laina  died

{'data': {'names': [], 'ndarray': [1.0]}, 'meta': {'metrics': [{'key': 'survived_counter', 'type': 'COUNTER', 'value': 1}], 'requestPath': {'classifier': 'seldonio/titanic:1.8.3'}}}

#####################

Futrelle, Mrs. Jacques Heath (Lily May Peel)  died

{'data': {'names': [], 'ndarray': [0.0]}, 'meta': {'metrics': [{'key': 'died_counter', 'type': 'COUNTER', 'value': 1}], 'requestPath': {'classifier': 'seldonio/titanic:1.8.3'}}}

#####################

Allen, Mr. William Henry  survived


{'data': {'names': [], 'ndarray': [0.0]}, 'meta': {'metrics': [{'key': 'died_counter', 'type': 'COUNTER', 'value': 1}], 'requestPath': {'classifier': 'seldonio/titanic:1.8.3'}}}

#####################

Moran, Mr. James  survived


{'data': {'names': [], 'ndarray': [0.0]}, 'meta': {'metrics': [{'key': 'died_counter', 'type': 'COUNTER', 'value': 1}], 'requestPath': {'classifier': 'seldonio/titanic:1.8.3'}}}

#####################

McCarthy, Mr. Timothy J  survived

In [98]:
prediction.response

{'status': {'code': -1,
  'info': "'Titanic' object has no attribute 'result'",
  'reason': 'MICROSERVICE_INTERNAL_ERROR',
  'status': 1}}

In [83]:
df.iloc[5]["Age"].tolist() == df.iloc[5]["Age"].tolist()

False

In [91]:
import math

type(df.iloc[5]["Age"])

numpy.float64

In [109]:
type(np.array2string(df.iloc[5]["Age"]))

str